---
layout: custom
title: Legal
permalink: legal
---


<div class="legal">
<div class="center-xs container description">
<h3>Last revised: June 22nd, 2017</h3>
</div>

<section class="container" id="terms">
        <div class="row">      
            <!-- full block-->
            <div class="full col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="info-block text-adapt">
                    <div class="row center-xs">
                        <div class="col">
                            <h2>Terms of Use</h2>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col">
                                  <h3 id="terms-of-use">Terms of Use</h3>

                                  <p><em>Last revised: February 23rd, 2017</em></p>

                                  <p>This website is operated by The Kovri Project, a loose collective of individuals behind Kovri. By visiting and using this website you will be accepting these Terms of Use (“TOU”). Please read them carefully and if you disagree with the TOU in any way, then do not use this website. The Kovri Project reserves the right to post changes to the TOU on this website at any time, and by your continuing to use the website thereafter, you agree to be bound by the new version of the TOU. If any TOU changes are not acceptable, you must stop your use of this website. In these TOU, “The Kovri Project” and “we” refers to The Kovri Project, and “User” or “you” refers to each visitor to this website. “Kovri” refers to the anonymizing router that can be used by the software available on this website.</p>

                                  <h4 id="sites-and-services">Sites and Services</h4>

                                  <p>We do not guarantee that access to or use of this website or any services will be uninterrupted or error free, and The Kovri Project shall not be liable for any feature not being accessible or for any unavailability of its website and services. The website and its features may be expanded, limited or modified at any time by The Kovri Project to meet the needs of its Users, or for technical or other reasons, without advance notice or reason. We may also in our sole discretion, and at any time, discontinue providing, temporarily or permanently, any or all of the website, without notice. To access some of the content or features of the website or its services, Users may need to enhance or update the hardware or software in their computer systems. The Kovri Project assumes no responsibility for any failure to access the website or any services, partially or fully, whether due to the User’s system, the Internet network or any other cause.</p>

                                  <h4 id="minors">Minors</h4>

                                  <p>We do not provide information or services to minors, and if you are under the age of 18, you may only use this site with the active involvement of a parent, guardian or other supervising adult.</p>

                                  <h4 id="content-limitations">Content Limitations</h4>

                                  <p>We make no guarantees as to the accuracy, thoroughness or quality of the information on this website, which is provided only on an “AS-IS” and “AS AVAILABLE” basis at User’s sole risk. This information may be provided by third parties and The Kovri Project shall not be responsible or liable for any errors, omissions or inaccuracies in the website content. The information provided at this site are neither comprehensive nor appropriate for every individual. Some of the information is relevant only in certain parts of the world, and may not be relevant to or compliant with the laws, regulations or other legal requirements of other countries. It is your responsibility to determine whether, how and to what extent your intended use of the information and services will be technically and legally possible in the areas of the world where you intend to use them. You are advised to verify any information before using it for any personal, financial or business purpose. In addition, the opinions and views expressed in any forum post on this website are solely those of the author(s) of the article and do not reflect the opinions of The Kovri Project. The website content and services may be modified at any time by us, without advance notice or reason, and The Kovri Project shall have no obligation to notify you of any corrections or changes to any website content.</p>

                                  <h4 id="proprietary-rights-and-license">Proprietary Rights and License</h4>

                                  <p>This website and its content are protected by copyright, trademark and other proprietary laws. For details please refer to our <a href="/legal/copyright">Copyrights notice</a>.</p>

                                  <h4 id="third-party-content">Third Party Content</h4>

                                  <p>Any testimonials, opinions, advice, product or service offers, or other information or content made available on or through this website by third parties (“Third Party Content”) are solely those of their respective providers and not of The Kovri Project which does not guarantee the accuracy, completeness, reliability or usefulness of Third Party Content. It is the responsibility of the User to evaluate Third Party Content and The Kovri Project shall not be liable for any damage or loss caused by Users’ reliance on or other use of Third Party Content.</p>

                                  <h4 id="materials-posted-by-users">Materials Posted by Users</h4>

                                  <p>By posting or submitting any material to this website, including on the forum, you will be (a) granting The Kovri Project a world-wide fully paid-up non-exclusive license to allow your materials to be edited and displayed by The Kovri Project on its website, and accessed by Users, for the purposes and on the terms in these TOU, (b) agreeing to indemnify and hold harmless The Kovri Project and its Users from any claim or demand made by any third party due to or arising out of your materials, and (c) representing that you own or otherwise have the right to post the materials, that the materials are accurate, that use of the materials on the The Kovri Project website does not violate any laws, and that the materials will not cause injury to any person. The Kovri Project shall have the right to use your name in connection with your posted materials.</p>

                                  <h4 id="viruses-and-malware">Viruses and Malware</h4>

                                  <p>The Kovri Project takes many precautions to ensure the files available for downloading through this website are not tampered with, and where appropriate SHA hashes are provided for end users to confirm they have downloaded the correct file. Nonetheless, The Kovri Project does not guarantee that files available for downloading through this website will be free of infection or viruses or other code that may have contaminating or destructive properties. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for integrity, security and accuracy of data input and output, and for maintaining a means external to the site for the reconstruction of any lost data. It is almost always advisable to check the SHA hashes of the files you have downloaded, and if in any doubt consider <a href="https://gitlab.com/kovri-project/kovri">compiling Kovri from the source code</a>.</p>

                                  <h4 id="sponsors-and-advertisers-are-not-endorsed">Sponsors and Advertisers are Not Endorsed</h4>

                                  <p>Though we seek to partner with quality companies, we are not responsible for the claims or representations made by sponsors and advertisers. The Kovri Project does not review, endorse or recommend the products or services of any company mentioned on our site. We will not be liable in any way for damages of any kind resulting out of the misuse of any personal information or data submitted by you to a sponsor or advertiser.</p>

                                  <h4 id="offsite-links">Offsite Links</h4>

                                  <p>As a convenience to Users, the The Kovri Project website and services may provide links to other sites or resources. Because we do not review or have no control over such sites and resources, The Kovri Project shall not be responsible or liable for use of or reliance on any content, products, services or information at such sites or resources. Inclusion of any links does not imply any endorsement, affiliation, approval, association or sponsorship by The Kovri Project of the linked websites, resources, their operators or owners. When you select a link, you may be leaving our website. The information available on Third Parties’ websites may have certain restrictions on its use or distribution which differ from these TOU.</p>

                                  <h4 id="prohibited-conduct">Prohibited Conduct</h4>

                                  <p>The following activities are strictly prohibited:</p>

                                  <ul>
                                    <li>Spamming, advertising, soliciting or political campaigning</li>
                                    <li>Personal attacks on or abuse of any members, moderators, or administrators of the forum</li>
                                    <li>Postings for any unlawful or fraudulent purpose (including links)</li>
                                    <li>Posting of personal information (for yourself or anyone else)</li>
                                    <li>Phishing</li>
                                    <li>Posting materials containing viruses or other malicious or destructive code</li>
                                    <li>Posting of offensive content including profanity, obscenity, racist or pornographic material</li>
                                    <li>Posting of any materials that are defamatory or infringe any person’s rights</li>
                                  </ul>

                                  <h4 id="privacy">Privacy</h4>

                                  <p>This website may collect personal information from some Users. Because The Kovri Project respects the privacy of its Users and their personal information, it has established the <a href="/legal/privacy">Privacy Policy</a> to protect your personal information.</p>

                                  <h4 id="communications">Communications</h4>

                                  <p>When you visit our website or send us email, our responses to your communications will be by e-mail. All agreements, notices and communications that we provide to you by email will satisfy all legal requirements that they be in writing and delivered to you. The Kovri Project will have the right to disclose any email sent by a User, or any objectionable material, to comply with legal process or to protect the rights or property of The Kovri Project, its customers, suppliers and Users.</p>

                                  <h4 id="no-liability-for-kovri-loss">No Liability for Kovri Loss</h4>

                                  <p>The Kovri Project will not be responsible for any damages, claims, or losses arising from the use of Kovri, including the actions or inactions or events related to third parties, security problems during the use of any Kovri-related software or service, technical failures during the use of any Kovri-related software or service, software or data corruption problems during the use of any Kovri-related software or service, or user errors during the use of any Kovri-related software or service.</p>

                                  <h4 id="disclaimer-of-warranties">DISCLAIMER OF WARRANTIES</h4>

                                  <p>THE KOVRI PROJECT DISCLAIMS ALL WARRANTIES, REPRESENTATIONS AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT, WITH RESPECT TO THE USE OF THIS WEBSITE AND ITS SERVICES, OR THE ACCURACY, COMPLETENESS, TIMELINESS OR CURRENTNESS OF ITS CONTENT, IN ANY WAY AND FOR ANY PURPOSE.</p>

                                  <h4 id="exclusion-of-consequential-damages">EXCLUSION OF CONSEQUENTIAL DAMAGES</h4>

                                  <p>IN NO EVENT WILL THE KOVRI PROJECT BE LIABLE FOR ANY INCIDENTAL, INCIDENTAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY OR INDIRECT DAMAGES ARISING OUT OF THE USE OF OR INABILITY TO USE THIS WEBSITE OR ANY OF ITS SERVICES OR CONTENT, OR LOSS OF DATA, EVEN IF THE KOVRI PROJECT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, PRODUCT LIABILITY, STRICT LIABILITY OR OTHERWISE.</p>

                                  <h4 id="exclusion-of-limitations-and-disclaimers">EXCLUSION OF LIMITATIONS AND DISCLAIMERS</h4>

                                  <p>BECAUSE SOME JURISDICTIONS DO NOT ALLOW THE DISCLAIMER OF WARRANTIES, OR THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH JURISDICTIONS THE KOVRI PROJECT’S LIABILITY IS LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.</p>

                                  <h4 id="general">General</h4>

                                  <p>These TOU, and any applicable TOS, constitute the entire agreement between each User and The Kovri Project governing the User’s access to and use of the website and its services, and supersede all prior agreements regarding its subject matter. The TOU shall be governed by the laws of the U.S. without giving effect to any principles of conflicts of laws. Each User hereby attorns and agrees to the non-exclusive jurisdiction of the courts of the U.S. The failure by a User or The Kovri Project to exercise any right or to enforce any provision of the TOU shall not constitute a waiver of such right or provision. If any provision of the TOU is found by a court of competent jurisdiction to be invalid or unenforceable, the court shall give effect to the intentions reflected in the provision to the degree possible, and the other provisions of the TOU will remain in full force and effect. It is the express will of The Kovri Project and each User that the TOU and any applicable TOS have been prepared in English.</p>
                            </div>
                        </div>
            </div>
        </div>
        <!-- end full block -->
    </div>
</section>

<section class="container" id="copyright">
        <div class="row">      
            <!-- full block-->
            <div class="full col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="info-block text-adapt">
                    <div class="row center-xs">
                        <div class="col">
                            <h2>Copyright</h2>
                        </div>
                    </div>
<div class="row">
<div class="col">
              <h3 id="the-kovri-i2p-router-project">The Kovri Project</h3>

              <p>The majority of the content on this website, including the Kovri logo, is released under the  CC BY-SA 4.0 license (the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International license</a>). This means that you can copy and redistribute the material in any medium or format, and remix, transform, and build upon the material for any purpose, even commercially. However, when doing so you must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests The Kovri Project endorses you or your use.</p>

              <h3 id="icons-and-other-attributed-items">Icons and Other Attributed Items</h3>

              <p>Where an icon is used we have attempted to find an icon in public domain or covered by a Creative Commons license. Attribution for the icon is given in HTML comments in the page source where appropriate and possible.</p>

              <p>Certain logos, such as those for the operating systems and platforms we support as well as those of our sponsors, are copyrighted by their owners. The Kovri Project does not own these copyrights, and use these logos either with permission or in an unambiguous and unharmful way.</p>

            </div>
</div>
            </div>
        </div>
        <!-- end full block -->
    </div>
</section>
<section class="container" id="privacy-policy">
        <div class="row">      
            <!-- full block-->
            <div class="full col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="info-block text-adapt">
                    <div class="row center-xs">
                        <div class="col">
                            <h2>Privacy Policy</h2>
                        </div>
                    </div>
<div class="row">
<div class="col">
              <h3 id="what-we-collect">What We Collect</h3>

              <ul>
                <li>We collect standard server logs from our webserver.</li>
                <li>We do <strong>not</strong> collect cookies anywhere on the site.</li>
              </ul>

              <h3 id="what-we-use-the-data-for">What We Use the Data For</h3>

              <p>Server logs are used to analyse errors and diagnose requests to dead links. A portion of the server logs are used to gather statistics on Kovri downloads in order to help us better understand our user’s needs.</p>

            </div>
</div>
            </div>
        </div>
        <!-- end full block -->
    </div>
    </section>
</div>
